.App {
  font-size: 24px;
  font-family: 'Sriracha', cursive;
  background-color: beige;
  --text-primary: #b6b6b6;
  --text-secondary: #eeccee;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}